<div class="container show-article">
  <h1 class="a-title"><%= @article.title %></h1>
  <p class="content"><%= @article.content %></p>
  <%= link_to(articles_path) { %> <i class="fas fa-arrow-alt-circle-left"></i> <% } %>
</div>
